*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;
}
/*HEADER*/
header{
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-image: linear-gradient(to right bottom, #434549, #39383b, #2e2c2e, #232121, #171616, #1b1a1a, #1e1d1e, #212122, #343537, #484b4d, #5c6264, #727a7a);
     
     height: 90px;
     padding: 1em;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .titulo{
      margin-top: 24px;
      margin-right: auto;
      margin-left: 70px;
      color: rgb(255, 255, 255);
      -webkit-text-stroke: 2px rgb(9, 82, 15);
      font-size: 33px;
    }

   
   .social-networks{
    display: flex;
    float: right;
    margin-right: 3%;
}

/*MAIN*/

.quadra {
    text-align: center;
    margin-top: 90px;
    margin-right: 364px;
}

.quadra img{
    height:630px;
}

.jogadores h1{
    font-size: 20px;
    padding: 3px;
    
}

.jogadores{
   cursor: pointer;

}


.jogador{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 115px;
    left: 366px;
    cursor: pointer;
}


.jogador2{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 158px;
    left: 366px;
   
}


.jogador3{
    background-color: blue;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 201px;
    left: 366px;
}

.jogador4{
    background-color: blue;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 244px;
    left: 366px;
  
}


.jogador5{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 287px;
    left: 366px;
    
}


.jogador6{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 330px;
    left: 366px;
   
}


.jogador7{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 373px;
    left: 366px;
    
}


.jogador8{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 416px;
    left: 366px;
   
}

.jogador9{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 459px;
    left: 366px;
    
}

.jogador10{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 502px;
    left: 366px;
    
}

.jogador11{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 545px;
    left: 366px;
}

.jogador12{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 115px;
    left: 866px;
}

.jogador13{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 158px; 
    left: 866px;
}

.jogador14{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 201px; 
    left: 866px;
}

.jogador15{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 244px; 
    left: 866px;
}

.jogador16{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 287px; 
    left: 866px;
}

.jogador17{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 330px; 
    left: 866px;
}

.jogador18{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 373px; 
}

.jogador19{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 416px; 
}

.jogador20{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 459px; 
}

.jogador21{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 502px; 
}

.jogador22{
    background-color: red;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 545px;     
}

/*FOOTER*/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }