
header{
    margin-top: 20px;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background: linear-gradient(to left, #003100, #03c007cf);
     color: rgb(0, 0, 0);
     height: 90px;
     padding: 1em;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .titulo{
      margin-top: 1.9%;
      margin-right: auto;
      margin-left: 70px;
      color: rgb(255, 255, 255);
      -webkit-text-stroke: 1px rgb(0, 0, 0);
    }

    /*hamburguer*/
   #menu__toggle {
     opacity: 0;
   }
   #menu__toggle:checked + .menu__btn > span {
     transform: rotate(45deg);
   }
   #menu__toggle:checked + .menu__btn > span::before {
     top: 0;
     transform: rotate(0deg);
   }
   #menu__toggle:checked + .menu__btn > span::after {
     top: 0;
     transform: rotate(90deg);
   }
   #menu__toggle:checked ~ .menu__box {
     left: 0 !important;
   }
   .menu__btn {
     position: fixed;
     top: 80px;
     left: 50px;
     width: 26px;
     height: 26px;
     cursor: pointer;
     z-index: 10;
   }
   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: black;
     transition-duration: .25s;
   }
   .menu__btn > span::before {
     content: '';
     top: -8px;
   }
   .menu__btn > span::after {
     content: '';
     top: 8px;
   }
   .menu__box {
     display: block;
     position: fixed;
     top: 0;
     left: -100%;
     width: 300px;
     height: 100%;
     margin-left: 0;
     padding: 80px 0;
     list-style: none;
     background-color: #ECEFF1;
     box-shadow: 2px 2px 6px rgb(60, 255, 0);
     transition-duration: .25s;
     z-index: 9;
   }
   .menu__item {
     display: block;
     padding: 12px 24px;
     color: rgb(12, 0, 0);
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-weight: 600;
     text-decoration: none;
     transition-duration: .25s;
   }
   .menu__item:hover {
     background-color: #039d00;
   }
   /*hamburguer*/