*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;
}

header{
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background: linear-gradient(to left, #002500, #0c9c0fcf);
     color: rgb(0, 0, 0);
     height: 90px;
     padding: 1em;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .titulo{
      margin-top: 24px;
      margin-right: auto;
      margin-left: 70px;
      color: rgb(255, 255, 255);
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      font-size: 30px;
    }

    /*hamburguer*/
   #menu__toggle {
     opacity: 0;
   }
   #menu__toggle:checked + .menu__btn > span {
     transform: rotate(45deg);
   }
   #menu__toggle:checked + .menu__btn > span::before {
     top: 0;
     transform: rotate(0deg);
   }
   #menu__toggle:checked + .menu__btn > span::after {
     top: 0;
     transform: rotate(90deg);
   }
   #menu__toggle:checked ~ .menu__box {
     left: 0 !important;
   }
   .menu__btn {
     position: absolute;
     top: 40px;
     left: 50px;
     width: 30px;
     height: 30px;
     cursor: pointer;
     z-index: 10;
     padding-top: 20px;
     color: white;
   }
   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: black;
     transition-duration: .25s;
   }
   .menu__btn > span::before {
     content: '';
     top: -8px;
   }
   .menu__btn > span::after {
     content: '';
     top: 8px;
   }
   .menu__box {
     display: block;
     position: fixed;
     top: 0;
     left: -100%;
     width: 300px;
     height: 100%;
     margin-left: 0;
     padding: 80px 0;
     list-style: none;
     background-color: #ECEFF1;
     box-shadow: 2px 2px 6px rgb(60, 255, 0);
     transition-duration: .25s;
     z-index: 9;
   }
   .menu__item {
     display: block;
     padding: 12px 24px;
     color: rgb(12, 0, 0);
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-weight: 600;
     text-decoration: none;
     transition-duration: .25s;
   }
   .menu__item:hover {
     background-color: #039d00;
   }
   /*hamburguer*/

   .social-networks{
    display: flex;
    float: right;
    margin-right: 3%;
}
.social-networks a {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 90px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.quadra {
    text-align: center;
    margin-top: 30px;
}

.quadra img{
    height:630px;
}

.jogadores h1{
    font-size: 20px;
    padding: 3px;
    
}

.jogadores{
   cursor: pointer;

}


.jogador{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 115px;
    left: 366px;
    cursor: pointer;
}


.jogador2{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 158px;
    left: 366px;
   
}


.jogador3{
    background-color: blue;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 201px;
    left: 366px;
}

.jogador4{
    background-color: blue;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 244px;
    left: 366px;
  
}


.jogador5{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 287px;
    left: 366px;
    
}


.jogador6{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 330px;
    left: 366px;
   
}


.jogador7{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 373px;
    left: 366px;
    
}


.jogador8{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 416px;
    left: 366px;
   
}

.jogador9{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 459px;
    left: 366px;
    
}

.jogador10{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 502px;
    left: 366px;
    
}

.jogador11{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 545px;
    left: 366px;
}

.jogador12{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 115px;
    left: 866px;
}

.jogador13{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 158px; 
    left: 866px;
}

.jogador14{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 201px; 
    left: 866px;
}

.jogador15{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 244px; 
    left: 866px;
}

.jogador16{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 287px; 
    left: 866px;
}

.jogador17{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    top: 330px; 
    left: 866px;
}

.jogador18{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 373px; 
}

.jogador19{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 416px; 
}

.jogador20{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 459px; 
}

.jogador21{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 502px; 
}

.jogador22{
    background-color: red;
    width: 30px;
    height: 30px; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 900;
    position: absolute;
    left: 866px;
    top: 545px;     
}


footer{
    background-color: black;
    padding: 45px;
    height: 310px;
    margin-top: 10px;
}

.text-footer{
    padding-top: 5px;
    background-color: rgb(24, 24, 24);
    display: inline-block;
    border-radius: 20px;
    width: 30%;
    height: 230px;
    float: left;
    margin-left: 2%;
}


.text-footer img{
    width:  80%;
    margin-left: 9%;

}

.text-footer h1 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 3px;
}
.footericons {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.autores {
    padding-top: 5px;
    height: 230px;
    width: 30%;
    background-color: rgb(0, 84, 11);
    border-radius: 20px;
    display: flex;
    float: left;
    margin-left: 3%;
    margin-right: 2%;
}
.autores h1 {
    text-align: center;
    font-size: 30px;
    padding-left: 50px;
}

.autores ul {
    list-style-type: none;
    margin-left: 5%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.autores ul li {
    font-size: 35px;
}

.fa-brands {
    padding-right: 5px;
}

.direitos {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    display: block;
    float: left;
    width: 100%;
}
